//procut home 
.products {
    background-color: #fff7e9;
    /*margin-top:30px;*/
    position:relative;
    padding-bottom: 25px;
    &:after,
        &:before{
        content: " ";
        bottom: 0px;
        position: absolute;
        z-index: 10;
    }
    &:before{
        background: url('../img/pumkins.png') no-repeat center center;
        left: 0px;
        height: 102px;
        width: 165px;
    }
    &:after{
        background: url('../img/pisang.png') no-repeat center center;
        right: 0px;
        height: 102px;
        width: 294px;
    }
    #product{
        margin-bottom:20px;
        .product{
            margin-bottom: 10px;
            a{
                &:hover{
                    text-decoration: none;
                }
                img{
                    margin-bottom: 10px;
                    box-shadow: 0 7px 6px -8px rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
    .see-all-product {
        a{
            background-color: #f1f2f2;
            border-radius: 0px;
            color: #f0552c;
            font-family: @font-gotham-l;
            font-size: 12px;
            z-index: 50;
            position: relative;
        }
    }

}
.where-to-buy{
    background-image: url('../img/country.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
    padding-bottom:30px;
    h3{
        font-size: 17px;
        color: @brand-primary;
    }
    .menu{
        list-style: none;
        margin: 0px;
        padding: 0px;
        li{
            padding: 2px 0px;
            a{
                font-family: @font-gotham-l;
            }
        }

    }
}
.news{
    background: #fff7e9;
    padding-bottom:30px;
    .frame{
        background-image: url('../img/img2.png');
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: 100% 100%;
        background-size: contain;
        width: 100%;
        text-align: center;
        padding: 22px 30px;
        .featured-video-plus{
            position: relative;
            display: block;
            /*height: auto;*/
            padding: 0;
            overflow: hidden;
            background-color: #F1F1F2;
            padding: 10px;
            box-shadow: 1px 0px 11px 0px #B2B2B2;
            margin: 0 auto;
            .fluid-width-video-wrapper{
                /*.embed-responsive-item();*/
                padding-top: 67% !important;
            }
        }
        img{
            background-color: #F1F1F2;
            padding: 10px;
            box-shadow: 1px 0px 11px 0px #B2B2B2;
            margin: 0 auto;
        }
    }

    h4{
        color: @brand-primary;
        font-size: 20px;
        font-family: @font-gotham;
    }
    p{
        color: @brand-primary;
        font-size: 16px;
        font-family: @font-gotham-l ;
    }
}
.youtube{
    background-position: 50% 75%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-image: url('../img/youtube.png');
    padding-bottom:30px;
    .title{
        margin-bottom: 0px;
    }
    .video{
        background-image: url('../img/video.png');
        background-repeat: no-repeat;
        background-position: top center;
        background-color: transparent;
        padding-top: 84px;
        overflow: hidden;
        height: 406px;
        /*  padding-left: 41px;
          padding-right: 40px;*/
        padding-bottom: 66px;
        *{
            height: 100%;
        }
        & > div{
            border-radius: 34px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            width: 376px;
            max-width: 100%;
            z-index: 1000;
            .iframe,
            iframe{
                height: 260px;
                width: 100%;
                border-radius: 32px;
                border: 0px transparent solid;
                margin: 0 auto;
                background: transparent;
                overflow: hidden;
                .cycle-slideshow{
                    border: 0px transparent solid;
                    height: 100% !important;
                    position: relative;
                    overflow: hidden;
                    border-radius: 30px;
                    z-index: 10000;
                }
            }
        }
        .embed-responsive{
            overflow: hidden;
            border-radius: 35px;
            height: 260px;
            width: 378px;
        }
    }
    #custom-pager{
        a{
            background-color: #d1d3d4;
            height: 25px;
            width: 25px;
            text-align: center;
            font-family: @font-gotham;
            color: #fff;
            border-radius: 50%;
            display:inline-block;
            padding: 0px 3px;
            margin: 0px 3px;
            font-size: 17px;
            position: relative;
        }
    }
}

.contact{
    background-color: #fff7e9;
    padding-bottom:30px;
    .wpcf7-form{
        .clearfix();
        position:relative;
        /*.form-inline();*/
        .wpcf7-form-control-wrap{
            /*.form-group();*/
            .wpcf7-form-control{
                background-color: #ffffff;
                background-image: none;
                border: 1px solid #e9e8e7;
                border-radius: 0px;
                /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/
                color: #555555;
                display: block;
                font-size: 14px;
                height: auto;
                line-height: 1.42857;
                padding: 10px 15px;
                transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
                width: 100%;
            }
        }
        .submit{
            position: relative;
            input[type="submit"]{
                background-color: transparent;
                background-image: url("../img/send.png");
                background-position: center center;
                background-repeat: no-repeat;
                border: 0 solid transparent;
                bottom: 33px;
                font-size: 0;
                height: 30px;
                line-height: normal;
                position: absolute;
                right: 10px;
                width: 48px;
            }
        }
    }
    .other{
        .fa{
            color: @brand-primary;
        }
        span.title{
            font-size: 12px;
            color: @brand-primary;
            font-family: @font-gotham;
        }
        .textwidget {
            font-family: @font-gotham-l;
            color: @brand-primary;
            font-size: 12px;
            p{
                font-family: @font-gotham-l;
                color: @brand-primary;
                font-size: 12px;
            }
        }
    }
}