@font-face {
    font-family:'GothamRounded-Medium';
    src: url('../fonts/gotham/GothamRounded-Medium_gdi.eot');
    src: url('../fonts/gotham/GothamRounded-Medium_gdi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/GothamRounded-Medium_gdi.woff') format('woff'),
        url('../fonts/gotham/GothamRounded-Medium_gdi.ttf') format('truetype'),
        url('../fonts/gotham/GothamRounded-Medium_gdi.svg#GothamRounded-Medium') format('svg');
    font-weight: 350;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}

@font-face {
    font-family:'GothamRounded-Light';
    src: url('../fonts/gotham/GothamRounded-Light_gdi.eot');
    src: url('../fonts/gotham/GothamRounded-Light_gdi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/GothamRounded-Light_gdi.woff') format('woff'),
        url('../fonts/gotham/GothamRounded-Light_gdi.ttf') format('truetype'),
        url('../fonts/gotham/GothamRounded-Light_gdi.otf') format('opentype'),
        url('../fonts/gotham/GothamRounded-Light_gdi.svg#GothamRounded-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}

body{
    font-family: @font-gotham;
}
.title{
    color: #ed5628;
    font-family: @font-gotham-l;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 36px;
}
.more-link{
    color: #ed5729;
    font-family: @font-gotham;
    position: relative;
    bottom: 0px;
}
.red{
    color: #e22434;
    a{
        color: #e22434;
    }
}
.blue{
    color: #49c5df;
    a{
        color: #49c5df;
    }
}
.green{
    color: #30ba9e;
    a{
        color: #30ba9e;
    }
}
.orange{
    color: #f58320;
    a{
        color: #f58320;
    }
}
.yellow{
    color: #f4d906;
    a{
        color: #f4d906;
    }
}
.main-content{
    padding-bottom: 30px;
    .clearfix();
}
a:focus{
    outline: none;
}