// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;

@sidebar-sm-columns:    4;


// Brand colors
// -------------------------

@brand-primary: #6d6e70;


// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";
@fa-font-path : "../vendor/font-awesome/fonts/";
/*font*/
@font-menu-color : @brand-primary;
@font-gotham : "GothamRounded-Medium";
@font-gotham-l : "GothamRounded-Light";

@grid-float-breakpoint : (@screen-lg-min);
/*@grid-float-breakpoint-max : (@screen-lg-min - 1);*/