/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 28, 2015, 5:52:36 AM
    Author     : husenEF
*/

.frame-slide{
    position: relative;
    display: inline-block;
    float: left;
    width: 100%;
}
.admin-slide{
    /*border: 1px red solid;*/
    min-height: 270px;
    float: left;
    padding: 10px 10px;
    position: relative
}
.admin-slide button.remove-slide{
    float: right;
}
.admin-slide img{
    margin-top: 5px;
}
.append-slider{
    width: 100%;
    float: left;
}
