.content-info { 
    background-color: @brand-primary;
    padding-bottom: 3px;
    padding-top: 10px;
    .footer{
        text-align:center;
        ul{
            display: inline-block;
            padding:0px;
            margin:0px;
            li{
                float: left;
                padding: 0 7px;
                list-style: inside;
                color:#fff;
                a{
                    color:#fff;
                    &:hover{
                        text-decoration: none;
                    }
                }
                &:first-child{
                    list-style: none;
                }
            }
        }
    }
}
