// Content wrapper
.wrap { }

// Main content area
.main {
    .make-sm-column(@main-sm-columns);
    .before-home{
        padding-top: 30px;
        .block-1{
            background-color: #f27921;
            background-image: url(../img/baby-group.png);
            background-position: top center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-bottom: 30px;
            min-height: 403px;
            /*padding-bottom: 50px;*/
            padding-top: 114px;
            *{
                color: #fff;
            }
            h2{
                font-size: 32px;
            }
            .textwidget,
            p{
                font-family:'GothamRounded-Light';
                font-size: 18px;
                font-weight: lighter;
            }
        }
        .block-2{
            margin-bottom:30px;
            img{
                width: 100%;
                max-width: 100%;
            }
        }
        .block-3{
            margin-bottom:30px;
            img{
                max-width: 100%;
                width: 100%;
            }
        }
    }
    .welcome-page{
        box-shadow: 4px -1px 20px 2px #fde4e3 inset;
        background-repeat: no-repeat;
        background-position: right top;
        background-color: transparent;
        background-image: url(../img/baby-bg.png);
        min-height: 320px;
        padding:40px;
        p{
            font-family: @font-gotham-l;
            color: #ef5878;
            font-size: 26px;
        }
    }
    .sidebar-primary & {
        .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
    }
}

/*slider carousel*/
.carousel.slide{
    margin-bottom:50px;
    .carousel-indicators{
        bottom: -50px;
        li{
            background: #d0d2d3;
            border-color: #d0d2d3;
            height: 20px;
            width: 20px;
            border-radius: 20px;
            margin: 2px;
            &.active{
                background-color: #d0d2d3;
                height: 20px;
                width: 20px;
                margin: 2px;
            }
        }
    }
    .carousel-inner{
        .carousel-caption{
            display: none;
        }
    }
    .carousel-control{
        display: none;
    }
}
