.banner { 
    box-shadow: -6px 6px 20px -7px #d5d4d4;
    padding:15px 0px;
    margin-bottom:0px;
    z-index: 9999;
    background: #fff;
    width:100%;    
    .social{
        text-align: right;
        a{
            display: block;
            float: right;
            height: 24px;
            margin: 0 3px;
            position: relative;
            width: 25px;
            background-repeat: no-repeat;
            background-color: transparent;
            background-image: url(../img/fb-ig.png);
            span{
                display: none;
            }
            &.fb{

            }
            &.ig{
                background-position: -28px;
            }
        }
        .language-chooser{
            display: inherit;
            float: right;
            list-style: outside none none;
            padding: 0;
            margin-right:25px;
            li{
                float: left;
                a{
                    background: transparent none;
                }
            }
        }
    }
    .navbar-header{
        .navbar-toggle{
            border: 1px #ed5628 solid;
            .icon-bar{
                background-color: #ed5628;
            }
        }
    }
    nav{
        float:right;

        .navbar-nav{
            float: right;
            position:relative;
            margin-top: 20px;
            li{
                a{
                    color : @font-menu-color;
                    text-transform: uppercase;
                    padding:0px 10px;
                    &:hover{
                        background: transparent;
                    }
                    &:focus,
                        &:active{
                        outline: none;
                        background: transparent;
                    }
                }
            }
        }
    }

}
