.hentry header { 
    .entry-title{
        font-family: @font-gotham;
    }
}
.hentry time { }
.hentry .byline { }
.hentry .entry-content {
    img.img-responsive{
        margin-bottom: 10px;
    }
    p{
        font-family: @font-gotham-l;
    }
}
.hentry footer { }
