.single-post,
.archive,
.single-product{
    .main-content{
        background-color : #fff6e8;
        .main{
            .title-product{
                h2{
                    text-align: center;
                    font-size: 40px;
                    font-family: @font-gotham-l;
                    color: #ed5627;
                    margin-top: 43px;
                    margin-bottom: 0px;
                }
                .breadcrumb{
                    padding: 5px 15px;
                    background-color: transparent;
                    margin-bottom:12px;
                    li{
                        font-size: 11px;
                    }
                    li+li{
                        &:before{
                            content: "> ";
                            color:@brand-primary;
                            font-size: 11px;
                        }
                        font-family: @font-gotham ;
                        color:@brand-primary;
                        font-size: 11px;
                        a{
                            font-family: @font-gotham ;
                            color:@brand-primary;
                            font-size: 11px;
                        }
                    }
                }
            }
            .sidebar-product{
                .clearfix();
                background: #fff;
                border-radius: 10px;
                padding-top: 30px;
                padding-left:30px;
                padding-right:30px;
                .title{
                    font-family: @font-gotham ;
                    color:@brand-primary;
                    font-size: 14px;
                    margin-top: 0px;

                }
                i.fa{
                    font-size: 14px;
                    margin-top: 0px;
                }
                ul.menu{
                    list-style: none;
                    /*margin-top: 30px;*/
                    padding: 0px;
                    li{
                        a{
                            .fa();
                            /*.fa-sort-desc();*/
                            font-size: 14px;
                            font-family: @font-gotham ;
                        }
                        .sub-menu{
                            list-style:none;
                            padding-left:13px;
                            margin-top:15px;
                            a{
                                font-size: 12px;
                                font-family: @font-gotham ; 
                            }
                            .sub-menu{
                                padding-left: 15px;
                            }
                        }
                    }
                }
                .widget{
                    h3{
                        font-family: @font-gotham; 
                        font-size:14px;
                        color:@brand-primary;
                        margin-top:0px;
                        span{
                            position: relative;
                            top:-5px;
                            margin-right: 10px;
                            .fa();
                            &:before{
                                content: @fa-var-sort-desc;
                            }
                        }
                    }
                    ul{
                        list-style: none;
                        padding-left: 18px;
                    }
                }
            }
            .product-page{
                .sidebar-product();
                h3{
                    font-size: 21px;
                    font-family: @font-gotham;
                    margin: 0px;
                }
                .frame-slider-product{
                    .row();
                    .photospace_res{
                        .row();
                        .clearfix();
                        .make-sm-column(8);
                        .thumbs_wrap2{
                            .clearfix();
                            .pull-right();
                            .make-sm-column(4);
                            .thumbs_wrap{
                                .clearfix();
                                left:0px;
                                .thumnail_row{
                                    left:0px;
                                    .thumbs{
                                        li{
                                            clear: both;
                                            float: left;
                                            padding: 10px;
                                            border: 1px transparent solid;
                                            &:hover,
                                                &.selected{
                                                border: 1px #e6e7e8 solid;
                                                border-radius: 5px;
                                                a{
                                                    opacity: 1;
                                                }
                                            }
                                            a{
                                                cursor: pointer;
                                            }
                                        }
                                    }
                                }
                            }


                        }
                        .gal_content{
                            .clearfix();
                            .pull-left();
                            .make-sm-column(8);
                            max-width:100%;
                            .slideshow-container{
                                .clearfix();
                                .slideshow{
                                    .clearfix();
                                    img{
                                        .img-responsive();
                                    }
                                }
                            }
                        }
                    }
                }
                p{
                    font-family: @font-gotham;
                    color:@brand-primary;
                    font-size: 14px;
                }
                h4.taxonomies{
                    font-size: 14px;
                    color:@brand-primary;
                    font-family: @font-gotham;
                    margin:0px;
                }
                .product-list{
                    margin-top:25px;
                    margin-bottom :25px;
                    a{
                        img{
                            margin-bottom: 25px;
                            -webkit-box-shadow: 0 7px 6px -8px rgba(0, 0, 0, 0.5);
                            -moz-box-shadow: 0 7px 6px -8px rgba(0, 0, 0, 0.5);
                            box-shadow: 0 7px 6px -8px rgba(0, 0, 0, 0.5);
                        }
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
            /*archive news*/
            .news-event-archive{
                background: #fff;
                border-radius: 10px;
                padding-left: 30px;
                padding-right: 30px;
                .the-content{
                    > div{
                        padding-bottom: 30px;
                        padding-top:30px;
                        border-bottom:2px #fad5c9 solid;
                        .clearfix();

                    }
                    &:last-child{
                        > div{
                            border-bottom: 0px transparent solid;
                        }
                    }
                    .featured-video-plus{
                        margin-bottom: 20px;
                    }
                    h3{
                        font-size: 26px;
                        font-family: @font-gotham;
                        color: @brand-primary;
                        /*margin-top:0px;*/
                        img{
                            margin-right: 10px;
                        }
                    }
                    p{
                        font-family: @font-gotham-l;
                        color: @brand-primary;
                        font-size: 12px;
                    }
                }
            }
            .news-event{
                padding-top: 30px;
                padding-bottom: 40px;
                .news-event-archive();
                article{
                    header{
                        h1{
                            color: @brand-primary;
                            font-family: @font-gotham;
                            font-size:26px;
                            img{
                                margin-right: 10px;
                            }
                        }
                    }
                    .entry-content{
                        p{
                            font-family: @font-gotham-l;
                            font-size: 12px;
                            color: @brand-primary;
                        }
                    }
                }
            }
        }
    }
}