/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 17, 2015, 4:06:27 PM
    Author     : husenEF
*/
/* max width 767*/
@media (max-width: @screen-xs-max) { 
    .slider{
        padding:15px 0px;
        .frame{
            .roundabout-holder{
                height: 470px;
            }
            .button{
                width: 100%;
                left: 0px;
            }
        }
    }
    .title{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .banner {
        .social {
            margin:8px 10px 0px 0px;
            text-align:center;
            a{
                display: inline-block;
                /*float: none;*/
            }
            .language-chooser{
                margin-right:8px;
            }
        }

        nav{
            float: left;
            .navbar-nav{
                float: none;
            }
        }
    }
    .main{
        .welcome-page{
            background-size: contain;
            background-image: none;
            min-height:200px;
            padding:30px;
            p{
                font-size: 14px;
            }
        }
        .before-home{
            .block-1{
                padding-top: 140px;
            }
        }
    }
    .products {
        #product {
            .product {
                .text-center();
                a {
                    font-size:16px;
                    font-weight: bold;
                    img{
                        margin: 0 auto 15px;
                    }   
                }
            }
        }
        .see-all-product{
            margin-bottom: 30px;
            position: relative;
            a{
                font-weight: bold;
            }
        }
    }

    .where-to-buy{
        /*background-image: none;*/
    }
    .news{
        padding-bottom:20px;
        .frame{
            padding: 16px;
        }
    }
    .youtube{
        background-position: center bottom;
        background-size: contain;
        margin-bottom: 30px;
        .video{
            background-size: contain;
            height: 332px;
            padding-top: 55px;
            width: 332px;
            margin: 0 auto;
            background-position :top center;
            & > div{
                margin:6px auto;
                width:319px;
                .iframe{
                    /*min-height: 197px;*/
                    height: 197px;
                    width: auto;
                }
            }
        }
    }

    .contact{
        .wpcf7-form{
            .col-lg-4{
                margin-top: 15px;
            }
        }
    }
    .content-info {
        .footer {
            ul {
                li{
                    text-align: center;
                    /*width: 100%;*/
                    /*list-style: none;*/
                    padding: 0 4px;
                }   
            }
        }
    }

    /*product list*/
    .product-list{
        .text-center();
        & > div{
            margin-bottom: 15px;
            a{
                display: block;
                img{
                    width: auto;
                    display: inline-block;
                }
            }
        }
    }
    /*product page*/
    .product-page{
        .frame-slider-product{
            .photospace_res{
                .thumbs_wrap2{
                    max-width: 25%;
                    padding-left: 0px;
                    padding-right: 0px;
                }
                .gal_content{
                    max-width: 75% !important;
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }

    }
}
/* 768px until 991px*/
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .slider{
        /*padding:90px 0px;*/
        .roundabout-holder{
            height: 315px;
        }
        .button{
            width: 100%;
            left: 0px;
        }
    }
    .title{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .banner {
        .social {
            margin:8px 10px 0px 0px;
            text-align:center;
            a{
                display: inline-block;
                /*float: none;*/
            }
            .language-chooser{
                margin-right: 8px;
            }
        }

        nav{
            float: left;
            .navbar-nav{
                float: none;
            }
        }
    }
    .main{
        .welcome-page{
            background-size: contain;
            min-height:200px;
            padding:30px;
            p{
                font-size: 14px;
            }
        }
        .before-home{
            .block-1{
                padding-top: 140px;
            }
        }
    }
    .products {
        #product {
            .product {
                .text-center();
                a {
                    font-size:16px;
                    font-weigth:bold;
                    img{
                        margin: 0 auto 15px;
                    }   
                }
            }
        }
        .see-all-product{
            margin-bottom: 30px;
            position: relative;
            a{
                font-weight: bold;
            }
        }
    }
    .news{
        padding-bottom:20px;
        .frame{
            padding: 27px;
        }
    }
    .youtube{
        background-position: center bottom;
        background-size: contain;
        margin-bottom: 30px;
    }
    .contact{
        .wpcf7-form{
            .col-lg-4{
                margin-top: 15px;
            }
        }
    }
    .content-info {
        .footer {
            ul {
                li{
                    text-align: center;
                    /*width: 100%;*/
                    /*list-style: none;*/
                    padding: 0 4px;
                }   
            }
        }
    }

    /*product list*/
    .product-list{
        .text-center();
        & > div{
            margin-bottom: 15px;
            a{
                display: block;
                img{
                    width: auto;
                    display: inline-block;
                }
            }
        }
    }
    .contact{
        .wpcf7-form{
            .col-lg-4{
                margin-top: 15px;
            }
        }
    }
}
/* 992px until 1199px*/
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { 
    .banner{
        .social{
            margin:8px 10px 0px 0px;
            text-align:center;
            a{
                display: inline-block;
                /*float: none;*/
            }   
        }
        nav{
            float: left;
            width: 100%;
            .navbar-nav{
                float: left;
            }
        }
    }
    .main{
        .before-home{
            .block-1{
                padding-top: 200px;
            }
        }
    }
    .slider{
        overflow: hidden;
    }
    .contact{
        .wpcf7-form{
            .col-lg-4{
                margin-top: 15px;
            }
        }
    }
}
/* min width 1200px*/
@media (min-width: @screen-lg-min) { 

}
