/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 18, 2015, 12:27:19 AM
    Author     : husenEF
*/
.slider{
    background-color:#fff7e9;
    .spinner{
        position: absolute;
        top: 50%;
        max-width: 100%;
        /*background-color: red;*/
        left: 50%
    }
    .frame{
        opacity: 0;
        .roundabout-holder{
            height: 580px;
            list-style: outside none none;
            margin: 0 auto;
            max-width: 100%;
            li{
                &.new:before{
                    content: " ";
                    height: 84px;
                    left: -13px;
                    position: absolute;
                    top: -7px;
                    width: 90px;
                    background: transparent url('../img/new.png') no-repeat center center;
                }
            }
        }
        .button{
            height: 30px;
            position: absolute;
            top: 50%;
            width: 104%;
            z-index: 500;
            left: -10px;
            span{
                cursor: pointer;
                color: #939598;
            }
        }  
    }

}

